.nav-item a:hover{
    transform: scale(1.1);
    background-color: #e09200;
}
.about-container{
  width: 80%;
  height: 330px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
  display: flex;
  margin:-7% auto 20px auto;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}
.about-container img{
  height: 250px;
}
.about-text button{
  width: 120px;
  height: 40px;
  color: #FFFFFF;
  outline: none;
  border: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #262525;
}
footer{
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color:#343a40;;
}
footer p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #e6e3e3;
}
footer p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    color: #e6e3e3;
    line-height: 30px;
    text-align: center;
}
footer p:nth-child(2){
    font-weight: bold;
    color: #7e7d7d;
    font-size: 16px;
    text-align: center;
}
.social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
}
.social-icons{
    display: flex;

}
.copyright{
    color: #FFFFFF;
    font-size: 13px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: scaleX(-50%);
}
.social-icons i{
    color: #000000;
}
.social-icons a:hover{
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition: all ease 0.5s;
}
.social-icons a:hover i{
    color: #FFFFFF;
    transition: all ease 0.5s;
}
#main{
  padding: 100px;
  display: flex;
}

  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }  
  @media only screen and (max-width: 375px) {
    .about-container{
      width: 100%;
    }
  }
  @media only screen and (max-width: 768px) {
    .about-container{
      width: 100%;
    }
  }
  
