nav{
background-color: #fcffff;
height: 150px;
box-shadow: 0px 0px 12px 0px;
margin-bottom: 3px;
}
.about-container{
    width: 80%;
    height: 330px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin:-7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.about-container img{
    height: 250px;
}
.about-text button{
    width: 120px;
    height: 40px;
    color: #FFFFFF;
    outline: none;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #262525;
}
nav button .navbar-toggler{
    background-color: #262525;
}
nav .navbar-nav{
    padding: 100px;
    font-weight: bold;
    align-items: center;
}
nav .navbar-nav a:hover{
    transform: scale(1.1);
}
.card bg-dark text-white{
    display: flex;
}
body{
    background:#dfe5f0 ;
}
footer{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
footer p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    color: #191919;
    line-height: 10px;
}
footer p:nth-child(2){
    font-weight: bold;
    color: #7e7d7d;
    font-size: 16px;
    width: 600px;
    text-align: center;
}
.social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
}
.social-icons{
    display: flex;

}
.copyright{
    color: #565555;
    font-size: 13px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: scaleX(-50%);
}
.social-icons i{
    color: #000000;
}
.social-icons a:hover{
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition: all ease 0.5s;
}
.social-icons a:hover i{
    color: #FFFFFF;
    transition: all ease 0.5s;
}
tr{
    font-size: 20px;
}
@media only screen and (max-width: 768px) {
    .toggler{
        background-color:#000;
    }
  }
.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }
